a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.nowrap {
    white-space:nowrap;
}

.black-text{
    color: black;
}

.thead-color{
    background-color: #316be9;
}

.thead-text {
    color: #ffffff!important;
}

.bold-text{
    font-weight: 700;
}

.txt-green {
    color: #00ff00;
}

.txt-red {
    color: #ff0000;
}

.hidden-option{
    display: none;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

/* .vr {
    display: inline-block;
    align-self: stretch;
    width: 1.5px;
    min-height: 1em;
    background-color: #FFEEBB;
    opacity: .25;
}

.page-top {
    background-color: #9AC5F4;
    color: #FFEEBB;
}

.break-line {
    background-color: #A7ECEE;
    height: 5px;
} */



