a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.nowrap {
    white-space:nowrap;
}

.black-text{
    color: black;
}

.thead-color{
    background-color: #316be9;
}

.thead-text {
    color: #ffffff!important;
}

.bold-text{
    font-weight: 900;
}

.txt-green {
    color: #00ff00;
}

.txt-red {
    color: #ff0000;
}

.hidden-option{
    display: none;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.frame-detail {
    display: none;
}

.lensa-detail {
    display: none;
}

.aksesoris-detail {
    display: none;
}


